@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

h3 {
    font-family: "Press Start 2P", "Courier New", Courier, monospace;
    font-size:12pt;
    text-align: center;
}

#call_pad
{
    border-top:8px solid #000;
    width:50%;
    /*height:45%;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: none;

}

#table_container
{
    position: relative;    
    border-bottom:8px solid #000;
    width:100%;
    height:100%;
    margin: auto;
    display: none;
}


#step1-error, #step1 {
  display: none;
}

#screen {
    touch-action: auto;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */  
  /*background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px); background-color: rgba(0.4,0.4,0.4,1);*/
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQ0lEQVQYlYXPwQ0AIAhD0b+V7NP9Z9CTiQLVQxNIXgJF0owRJZKusIcf5lxemHzC4QIdpnu8w7iWGeNaZoxrmXGBDi/4Zb49KMzkQQAAAABJRU5ErkJggg==) repeat;
  background-size: 2em 2em;
  image-rendering: pixelated;
}



/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* Modal Header */
.modal-content-header {
  padding: 2px 16px;
  background-color: #333;
  color: white;
}

.modal-content-body {
  padding: 2px 16px 16px;
}
/* Modal Content */
.modal-content {
  position: relative;
  padding:0;
  height:auto;
  top: 45%;
  background-color: #000000;
  margin: auto;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(.3,.3,.3,.19);
  animation-name: animatetop;
  animation-duration: 0.4s
  
}


/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 45%; opacity: 1}
}

#modalWarning {
    padding: 4px;
    color: #f11;
    font-weight: bold;
}


.receipt {
    position: fixed;
    bottom:0px;
    max-width: 512px;    
    margin: auto;
    display:none;
    z-index: 1;
}

.receipt-top {
    height: 8px;
    background-image: url("./../pics/sawtooth_top.png");
    background-repeat: repeat-x;
    background-size: 8px 8px;
    image-rendering: pixelated;
}
.receipt-header {
    position: relative;
    display:block;
    padding: 8px;
    width: 100%;
    font-size: 10pt;
    font-family: "Press Start 2P", "Courier New", Courier, monospace;
    background-color: #fff1e1;
    color:#000;
    border-bottom: 2px solid #111;
    text-align: center;
}

.receipt #console {    
    padding: 8px;
    font-size: 10pt;
    font-family: "Press Start 2P", "Courier New", Courier, monospace;
    background-color: #fff1e1;
    color:#000;
    border-bottom: 2px solid #111;
    display:none;
    

}
.receipt-close {
    float: right;
    height: 10px;
    image-rendering: pixelated;
    display:none;
}
